[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/denleysay/hexo-theme-landscape
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/denleysay/hexo-theme-next
[submodule "themes/light_cn"]
	path = themes/light_cn
	url = https://github.com/denleysay/hexo-theme-light_cn
